<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 web-part-div-heading">
    <span class="fa fa-link fa-lg padding-right" aria-hidden="true"></span>QUICK LINKS
</div>
<div class="row quick-link-row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 quick-link-box"
        *ngFor="let quickLink of QuickLinksData; let index = index">
        <div class="quick-link-box-inner-div" [ngClass]="(index%2!=0)?'lightBlue':''">
            <a (click)="openLink(quickLink.LinkUrl.Url)">
                <span [ngClass]="quickLink.TitleIcon" class="icon-size" aria-hidden="true"></span>
                <p class="text">{{ quickLink.Title }}</p>
            </a>
        </div>
    </div>
</div>